/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&family=Roboto+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@200;600&family=Roboto+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&family=Poppins:wght@200;600&family=Roboto+Mono:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Indie+Flower&family=Kalam:wght@700&family=Poppins:wght@200;600&family=Roboto+Mono:wght@400;600&display=swap');

:root {
    --primary-color1: rgb(33, 150, 243);
    --primary-color2: rgb(1, 229, 194);
    --secondary-color: rgb(66, 66, 66);
    --theme-color: rgb(254, 252, 250);
    --theme-text-color: black;
    --theme-opposite-text-color: rgb(254, 252, 250);
}

.darkmode {
    --theme-color: rgb(16, 17, 17);
    --theme-text-color: rgb(254, 252, 250);
    --theme-opposite-text-color: black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Indie Flower', 'Roboto Mono', 'Poppins';
    font-size: 25px;
    font-weight: 200;
    color: white;
    /* border: 1px solid black; */
    color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: rgb(255, 255, 249); */
    background-color: var(--theme-color);
    position: relative;
}

a {
    text-decoration: none;
}

img {
    object-fit: contain;
}

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 2;
}

#herosection {
    width: 80vw;
    margin: auto;
    padding: 25px;
}

header {
    padding: 25px 0px 25px 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
}

.themetoggle {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height:40px;
    width:100px; */
    color: purple;
    border: 1px solid navajowhite;
    border-radius: 20px;
    padding: 2px 20px;
    background: var(--theme-color);
}

.contactbutton {
    background: linear-gradient(to right, rgb(33, 150, 243), rgb(37, 192, 194));
    padding: 2px 40px 2px 40px;
    border-radius: 5px;
    box-shadow: grey 0px 2px 5px;
    transition: 0.2s;
    cursor: pointer;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.contactbutton:hover {
    transform: scale(1.1)
}

.contactbutton:active {
    transform: scale(0.9)
}
.consultandthemecontainer{
    display:flex;
    flex-direction: row;
    gap:30px;
}
.backtotop {
    float: right;
    position: sticky;
    bottom: 20px;
    right: 20px;
    background: rgb(207, 0, 207);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

section {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    place-items: center;
}

#herosection {
    height: 80vh;
    background: var(--primary-color2);
    border-radius: 10px;
}

.splashcontainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.splashdetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 80px auto 80px auto;
}

.splashtext h1 {
    color: white;
    font-size: 40px;
}

.bigsplashtext {
    font-size: 65px;
    font-family: 'Kalam';
}

.makeappointmentbutton {
    display: flex;
    padding: 8px 30px;
    background: var(--theme-color);
    width: 280px;
    height: 50px;
    font-size: 25px;
    /* border-radius: 5px; */
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: var(--theme-text-color);
    cursor: pointer;
    border: 1px solid var(--theme-color);
}

.makeappointmentbutton::before {
    content: "";
    width: 279px;
    height: 49px;
    background: transparent;
    border: 1px solid var(--theme-opposite-text-color);
    position: absolute;
    transform: rotateZ(0.5deg);
    transform: skew(3deg)
}

.whycontainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
}

.w {
    margin-top: 40px;
}

.whyusbutton {
    display: flex;
    padding: 8px 30px;
    background: var(--primary-color2);
    width: 250px;
    height: 50px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: var(--theme-text-color);
    cursor: pointer;
}

.whyusbutton::after {
    content: "";
    width: 250px;
    height: 50px;
    background: transparent;
    border: 1px solid var(--primary-color2);
    position: absolute;
    transform: rotateZ(0.5deg);
    transform: skew(3deg)
}

.whyusbutton:hover,
.makeappointmentbutton:hover,
.viewservices:hover {
    transform: scale(1.03)
}

.whyusbutton:active,
.makeappointmentbutton:active,
.viewservices:active {
    transform: scale(0.98)
}
.changetextcolor{
    color:var(--theme-text-color)
}
.white {
    color: white;
}

h1 {
    font-size: 50px;
    font-family: 'Kalam';
    font-weight: bolder;
    color:var(--theme-text-color)
}

.h1green {
    font-size: 50px;
    color: var(--primary-color2);
    font-family: 'Kalam';
}

.h1blue {
    font-size: 50px;
    color: var(--primary-color1);
    font-family: 'Kalam';
}

.mission {
    text-align: center;
    padding-top: 80px;
}

#whatsection h1,
#whatsection p {
    color: white;
}

#whatsection h1 {
    text-align: center;
}

#whatsection {
    background-color: var(--primary-color1);
    padding: 30px;
    transform: skew(2deg);
    margin-top: 50px;
}

.viewservices {
    display: flex;
    padding: 8px 30px;
    background: var(--theme-opposite-text-color);
    width: 300px;
    height: 50px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin: 40px auto 20px auto;
    cursor: pointer;
    color: var(--theme-text-color);
}

.viewservices::after {
    content: "";
    width: 295px;
    height: 49px;
    background: transparent;
    border: 1px solid var(--theme-opposite-text-color);
    position: absolute;
    transform: rotateZ(1deg);
}

#skillsection {
    background: url('skillbackgroundtexture.avif');
    box-shadow: inset 0px 0px 25px 75px var(--theme-color);
}

.skillcontainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 350px));
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    padding: 20px 50px 20px 50px;
}

.skill:nth-child(2n) {
    background: #03bcf4;
}

.skill:nth-child(4n) {
    background: rgb(1, 229, 194);
    transform: skew(1deg);
}

.skill:nth-child(6n) {
    background: rgb(1, 229, 194);
    transform: skew(1deg);

}

.skill:nth-child(2n+4) {
    margin-top: -180px;
}

.skilldetail {
    font-size: 20px;
}

h3 {
    font-family: 'Kalam';
    color: white;
}

.readmore {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 25px;
    width: 220px;
    height: 45px;
    background: #ffffffef;
    letter-spacing: 3px;
    transform: skew(-2deg);
    cursor: pointer;
    margin-top: 20px;
}

.readmore::after {
    content: "";
    width: 219px;
    height: 44px;
    background: transparent;
    border: 1px solid white;
    position: absolute;
    transform: rotateZ(1deg);
    /* transform:skew(3deg) */
}

#toolsbox {
    display: grid;
    place-items: center;
}

.toolscontainer {
    width: 80vw;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-x: scroll;
    padding: 10px;
}

.tool {
    position: relative;
    min-width: 350px;
    padding-right: 5px;
}

.tooldetail {
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: rgb(16, 14, 14) 5px 5px;
    border-radius: 5px;
    margin-top: 30px;
}

.toolicon {
    position: absolute;
    top: 0px;
    left: 40px;
    height: 70px;
    width: 70px;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    background: rgb(0, 176, 149);
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: rgb(96, 26, 26) 5px 5px;
}

.detailcontainer {
    padding-top: 50px;
    padding-left: 30px;
}

h2 {
    font-family: 'Calibri';
    font-weight: bolder;
}

.tooldetailtext {
    font-size: 20px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.tooldetail .contact {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-top: 20px;
    background: rgba(255, 197, 197, 0.647);
}

#testimonial {
    background: rgb(1, 229, 194);
    display: grid;
    place-items: center;
}

.testimonialcontainer {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 100px;
    width: 900px;
}

.testimonial {
    background: transparent;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50px;
}

.testimonial:hover {
    transform: scale(1.02) translateY(-5px);
}

.testimonial:not(:first-child) {
    margin-left: -20px;
}

.testimonial:nth-child(2n+1) {
    margin-top: -5px;
}

.testimonial:nth-child(2n) {
    margin-top: 5px;
}

.activeuser {
    border: 4px solid blueviolet;
    border-radius: 50px;
}

.usertestimonial {
    background: white;
    width: 50vw;
    color: black;
    display: grid;
    place-content: center;
    margin-top: 30px;
    padding: 40px;
    transform: skew(2deg);
}

#consultformsection {
    background: rgb(33, 150, 243);
}

.consultcontainer {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    margin: 50px;
}

.consultform {
    display: flex;
    align-items: center;
    justify-content: center;
}

.consultdetails h1,
.newslettercontainer h1 {
    color: white;
}

.field {
    position: relative;
}

.field i {
    font-size: 20px;
    color: rgb(185, 185, 185);
}

.field .inputdesc {
    position: absolute;
    left: 8px;
    top: 15px;
    font-size: 20px;
    color: rgb(185, 185, 185);
    padding-left: 10px;
    transition: 0.2s;
    height: 1px;
}

#contactform {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.field input {
    width: 600px;
    height: 60px;
    transform: skew(3deg);
    border: 2px solid rgb(217, 217, 217);
    padding-left: 20px;
}

.field input:valid~span,
.field input:focus~span {
    color: #ffffff;
    transform: translateX(0px) translateY(-45px);
    border-left: 1px solid #03bcf4;
    border-right: 1px solid #03bcf4;
}

.submit #submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 5px 25px;
    height: 60px;
    width: 280px;
    background: #ffffffef;
    letter-spacing: 3px;
    transform: skew(-1deg);
    cursor: pointer;
    transition: 0.2s;
}

#submit:hover {
    transform: scale(1.02);
}

#submit:active {
    transform: scale(0.98);
}

.blogcontainer {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 40px auto;
    gap: 40px;
}

.blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Poppins';
    transition: 0.2s;
    box-shadow: grey 0px 0px 15px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.blog:nth-child(2n) {
    margin-right: -80px;
}

.blog:nth-child(2n+1) {
    flex-direction: row-reverse;
    margin-left: -80px;
}

.blog img {
    border-radius: 10px;
}

.blog:hover {
    transform: scale(1.03);
}

.blog:active {
    transform: scale(0.99);
}
.blogtitle{
    color:var(--theme-text-color);
}
#newslettersection {
    background: rgb(33, 150, 243);
}

.newslettercontainer,
#newslettersection .submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 70px;
}

.newslettercontainer p {
    margin: 30px auto 60px auto;
}

#newslettersection .submit {
    margin: 60px auto 10px auto;
}

footer {
    background: rgb(66, 66, 66);
    padding: 50px;
    width: 80vw;
    margin: 30px auto 30px auto;
}

.footercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flowcircular {
    font-family: 'Flow Circular';
}

.footercontainer .aboutus {
    max-width: 600px;
}

.socialandcontact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.footercontainer .socialandcontact {
    max-width: 500px;
}