@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&family=Roboto+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@200;600&family=Roboto+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&family=Poppins:wght@200;600&family=Roboto+Mono:wght@400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Indie Flower', 'Roboto Mono', 'Poppins';
    font-size: 25px;
    font-weight: 200;
    color: whitesmoke;
    /* border: 1px solid black; */
    color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 249);
    /* height: 150vh; */
}

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 2;
}

header,
#herosection {
    width: 95vw;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

#herosection {
    height: 80vh;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contactbutton {
    background: linear-gradient(to right, rgb(33, 150, 243), rgb(1, 229, 194));
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    box-shadow: grey 0px 2px 5px;
}

section {
    margin-top: 20px;
    width: 95vw;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 25px;
}

.whycontainer {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.w {
    margin-top: 40px;
}

.whyusbutton {
    display: flex;
    padding: 8px 30px;
    background: rgb(1, 229, 194);
    width: 250px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: white;
}

.brown {
    color: brown;
}

h1 {
    font-size: 50px;
    font-family: 'Kalam';
    font-weight: bolder;
}

.h1green {
    font-size: 50px;
    color: rgb(1, 229, 194);
    font-family: 'Kalam';
}

.h1blue {
    font-size: 50px;
    color: rgb(33, 150, 243);
    font-family: 'Kalam';
}

.mission {
    text-align: center;
    padding-top: 80px;
}

#whatsection h1,
#whatsection p {
    color: white;
}

#whatsection h1{text-align: center;}
#whatsection {
    background-color: rgb(33, 150, 243);
    padding: 30px;
    transform: skew(2deg);
    margin-top: 50px;
}

.viewservices {
    display: flex;
    padding: 8px 30px;
    background: rgb(249, 255, 254);
    width: 300px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin: 40px auto 20px auto;
    /* color:white; */
}

#toolsbox {
    display: grid;
    place-items: center;
}